@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-item img {
    width: 100%;
    height: 500px !important;
}

.large-font {
    font-size: 50px !important;
}

.reng {
    /* display: inline-block !important; */
    width: 20px;
}

.reng span {
    padding: 30px;
    border: 2px solid yellow;
    border-radius: 50%;
    margin: 10px;
}

.content {
    display: flex !important;
    margin-bottom: 30px;
}

.content img {
    width: 60px;
    height: 70px;
    padding: 12px;
    margin: 0px;
    border: 2px solid;
    border-radius: 50%;
}

ol li{
    padding: 20px;
}
ol li a{
    font-size: 20px;
}
.Gallery img{
    height: 180px !important;
    width: 180px;
}